[user]
	email = matei@copot.eu
	name = Matei Copot
[core]
	excludesfile = /home/user/.gitignore_global
	editor = vim
[merge]
	tool = vimdiff


stash-untracked = "!f() {    \
    git stash;               \
    git stash -u;            \
    git stash pop stash@{1}; \
}; f"
[push]
	default = current
